body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;

    width: 700px;
height: 700px;
color: orange;
font-size: !important 40px; 
}


.container{
  font-family: Passion One;
  font-size: 25px;
  width: 20%;
  /*border-radius: 15px;*/
  padding: 10px;
  background-color: transparent;

margin-left: 200px;


}

.jumbotron{background-color: transparent;}


.panel {
  background-image: none;
  background-color:transparent;
  color:black;

}
.panel-body {  background-image: none;
  background-color:transparent;
  color: orange;}

